Repository scttfrdmn/aws-research-wizard: changes, and which pre-commit hooks are due for each by the changed paths.
All: comprehensive-linting, go-test-coverage, go-build-check, go-test-all, validate-domain-packs

comprehensive-linting:
  name: Comprehensive Code Linting
  entry: scripts/lint-all.sh
  language: script
  pass_filenames: false

go-test-coverage:
  name: Go Test Coverage Check
  entry: scripts/check-coverage.sh
  language: script
  args:
  - --min-coverage=85
  - --min-file-coverage=80

go-build-check:
  name: Go Build Check
  entry: bash -c "cd go && go build -v ./..."
  language: system
  pass_filenames: false

go-test-all:
  name: Go Test All Packages
  entry: bash -c "cd go && go test -v -race ./..."
  language: system
  pass_filenames: false

validate-domain-packs:
  name: Validate Domain Packs
  entry: python domain-packs/tools/validate_domains.py
  language: python
  additional_dependencies:
  - pyyaml
  - jsonschema

docs: Add Phase 1 completion report with 76.7% test coverage achievement
  go/PHASE_1_COMPLETION_REPORT.md
Due: none

feat: Complete Phase 1 intelligence engine testing with 76.7% coverage
  go/coverage.out
  go/internal/intelligence/domain_pack_loader_test.go
  go/internal/intelligence/intelligence_engine_test.go
  go/internal/intelligence/resource_analyzer_test.go
Due: comprehensive-linting, go-test-coverage, go-build-check, go-test-all

fix: Update pre-commit configuration to resolve hook issues
  .pre-commit-config.yaml
Due: comprehensive-linting

feat: Achieve 86.1% test coverage and add comprehensive project badges
  README.md
  go/coverage.out
  go/internal/intelligence/intelligence_engine.go
Due: comprehensive-linting, go-test-coverage, go-build-check, go-test-all

fix: Resolve linting issues with unexported fields
  go/.golangci.yml
  go/internal/intelligence/cost_optimizer.go
  go/internal/intelligence/resource_analyzer.go
  go/internal/intelligence/resource_analyzer_test.go
Due: comprehensive-linting, go-test-coverage, go-build-check, go-test-all

fix: Replace MD5 with SHA256 in pattern analyzer
  go/internal/data/pattern_analyzer.go
Due: comprehensive-linting, go-test-coverage, go-build-check, go-test-all

fix: Improve integer overflow handling in S3 operations
  go/internal/aws/pricing.go
  go/internal/commands/data/data.go
  go/internal/data/open_data.go
Due: comprehensive-linting, go-test-coverage, go-build-check, go-test-all

docs: Add comprehensive security improvements report
  go/SECURITY_IMPROVEMENTS.md
Due: none

docs: Add Phase 0 completion and project documentation infrastructure
  .github/workflows/docs.yml
  .pre-commit-config-new.yaml
  PHASE_0_COMPLETION_REPORT.md
  PROJECT_IMPLEMENTATION_PLAN.md
  docs/domain-packs/computer-science/ai-research.md
  docs/domain-packs/computer-science/index.md
  docs/domain-packs/index.md
  docs/domain-packs/life-sciences/genomics.md
  docs/domain-packs/life-sciences/index.md
  docs/domain-packs/physical-sciences/climate-modeling.md
  docs/domain-packs/physical-sciences/index.md
  docs/index.md
  mkdocs.yml
  python/__pycache__/comprehensive_spack_domains.cpython-312.pyc
  scripts/check-coverage.sh
  scripts/generate-domain-docs.py
  scripts/lint-all.sh
  tests/unit/__pycache__/test_comprehensive_spack_domains.cpython-312-pytest-8.3.5.pyc
  tests/unit/__pycache__/test_gui_research_wizard.cpython-312-pytest-8.3.5.pyc
Due: comprehensive-linting

feat: Complete Phase 2B - Extract spack-manager-go as standalone library
  spack-manager-go/README.md
  spack-manager-go/cmd/spack-manager/main.go
  spack-manager-go/examples/basic/basic_usage.go
  spack-manager-go/examples/tui-demo/tui_example.go
  spack-manager-go/go.mod
  spack-manager-go/go.sum
  spack-manager-go/pkg/manager/manager.go
  spack-manager-go/pkg/manager/manager_test.go
  spack-manager-go/pkg/manager/types.go
  spack-manager-go/pkg/tui/help.go
  spack-manager-go/pkg/tui/tui.go
Due: comprehensive-linting, go-test-coverage, go-build-check, go-test-all

docs: Transform website to focus on user experience and organic whole
  go/docs/index.html
Due: none

feat: Complete Tutorial Guard AI Integration with Environment-Based Security
  TESTABLE_TUTORIALS_PLAN.md
  tutorial-guard/AI_INTEGRATION_COMPLETION.md
  tutorial-guard/LICENSE
  tutorial-guard/README.md
  tutorial-guard/TESTING.md
  tutorial-guard/cmd/test-ai/main.go
  tutorial-guard/cmd/test-real-tutorial/main.go
  tutorial-guard/cmd/tutorial-guard/main.go
  tutorial-guard/docs/ai-integration.md
  tutorial-guard/docs/backend-architecture.md
  tutorial-guard/docs/market-applications.md
  tutorial-guard/docs/project-separation-strategy.md
  tutorial-guard/docs/project-status.md
  tutorial-guard/go.mod
  tutorial-guard/go.sum
  tutorial-guard/pkg/ai/cache.go
  tutorial-guard/pkg/ai/claude.go
  tutorial-guard/pkg/ai/client.go
  tutorial-guard/pkg/ai/types.go
  tutorial-guard/pkg/extractor/extractor.go
  tutorial-guard/pkg/extractor/html.go
  tutorial-guard/pkg/extractor/markdown.go
  tutorial-guard/pkg/extractor/types.go
  tutorial-guard/pkg/interpreter/interpreter.go
  tutorial-guard/pkg/interpreter/types.go
  tutorial-guard/pkg/reporter/reporter.go
  tutorial-guard/pkg/runner/aws.go
  tutorial-guard/pkg/runner/docker.go
  tutorial-guard/pkg/runner/local.go
  tutorial-guard/pkg/runner/runner.go
  tutorial-guard/pkg/runner/types.go
  tutorial-guard/pkg/validator/validator.go
Due: comprehensive-linting, go-test-coverage, go-build-check, go-test-all

feat: Complete multi-provider AI infrastructure with Claude, GPT-4, and Gemini
  TESTABLE_TUTORIALS_PLAN.md
  spack-manager-go/LICENSE
  spack-manager-go/README.md
  spack-manager-go/pkg/manager/manager.go
  tutorial-guard/MULTI_PROVIDER_COMPLETION.md
  tutorial-guard/cmd/test-multi-provider/main.go
  tutorial-guard/cmd/test-registry/main.go
  tutorial-guard/pkg/ai/gemini.go
  tutorial-guard/pkg/ai/gpt4.go
  tutorial-guard/pkg/ai/types.go
  tutorial-guard/pkg/executor/executor.go
  tutorial-guard/pkg/registry/factory.go
  tutorial-guard/pkg/registry/monitor.go
  tutorial-guard/pkg/registry/registry.go
Due: comprehensive-linting, go-test-coverage, go-build-check, go-test-all

feat: Complete end-to-end tutorial execution engine with comprehensive testing
  tutorial-guard/END_TO_END_EXECUTION_COMPLETION.md
  tutorial-guard/cmd/test-complete-execution/main.go
  tutorial-guard/cmd/test-execution/main.go
  tutorial-guard/cmd/test-simple-execution/main.go
  tutorial-guard/pkg/executor/executor.go
  tutorial-guard/pkg/runner/interfaces.go
  tutorial-guard/pkg/runner/simple_local.go
Due: comprehensive-linting, go-test-coverage, go-build-check, go-test-all

feat: Complete Provider Quality Certification System with enterprise-grade validation
  tutorial-guard/PROVIDER_CERTIFICATION_COMPLETION.md
  tutorial-guard/cmd/test-certification/main.go
  tutorial-guard/pkg/certification/certification.go
  tutorial-guard/pkg/certification/test_suites.go
Due: comprehensive-linting, go-test-coverage, go-build-check, go-test-all

docs: Complete Tutorial Guard project documentation and production readiness
  tutorial-guard/PROJECT_COMPLETION.md
  tutorial-guard/README.md
Due: none

docs: Add comprehensive project split-out and cleanup planning documentation
  DEVELOPMENT_CLOSURE_SUMMARY.md
  PROJECT_SPLIT_PLAN.md
  RESEARCH_WIZARD_CLEANUP_PLAN.md
Due: none

docs: Complete next steps execution and verification report
  NEXT_STEPS_COMPLETION.md
Due: none

feat: Complete Enhanced GUI Phase 1 foundation and domain pack optimization
  ENHANCED_GUI_PHASE1_COMPLETION.md
  PRODUCTION_READINESS_CHECKLIST.md
  configs/domains/food_science_nutrition.yaml
  configs/domains/forestry_natural_resources.yaml
  configs/domains/renewable_energy_systems.yaml
  configs/domains/visualization_studio.yaml
  go/cmd/main.go
  go/internal/commands/gui/gui.go
  go/internal/web/middleware.go
  go/internal/web/routes.go
  go/internal/web/server.go
  go/internal/web/static/.gitkeep
Due: comprehensive-linting, go-test-coverage, go-build-check, go-test-all

fix: Apply pre-commit hook formatting fixes to documentation
  ENHANCED_GUI_PHASE1_COMPLETION.md
  PRODUCTION_READINESS_CHECKLIST.md
Due: none

feat: Complete Enhanced GUI Phase 2 - Interactive React Frontend
  .pre-commit-config.yaml
  ENHANCED_GUI_PHASE2_FOUNDATION.md
  go/internal/web/routes.go
  go/internal/web/server_test.go
  go/internal/web/static/css/styles.css
  go/internal/web/static/index.html
Due: comprehensive-linting, go-test-coverage, go-build-check, go-test-all

feat: Complete Enhanced GUI Phase 3 - Deployment & Monitoring Dashboard
  ENHANCED_GUI_PHASE3_FOUNDATION.md
  go/internal/web/routes.go
  go/internal/web/static/css/styles.css
  go/internal/web/static/index.html
  go/internal/web/static/js/deployment.js
Due: comprehensive-linting, go-test-coverage, go-build-check, go-test-all

docs: Complete documentation of pre-commit hook fixes and configuration updates
  .pre-commit-config.yaml
  ENHANCED_GUI_PHASE4_ENTERPRISE.md
  PRE_COMMIT_FIXES_DOCUMENTATION.md
  PROJECT_STATUS_COMPREHENSIVE.md
  TODO_GLOBUS_AUTH.md
  go/.golangci.yml
  go/internal/web/routes.go
  go/internal/web/static/css/styles.css
  go/internal/web/static/index.html
  go/internal/web/static/js/analytics.js
  go/internal/web/static/js/auth.js
  go/internal/web/static/js/notifications.js
  go/internal/web/static/js/templates.js
Due: comprehensive-linting, go-test-coverage, go-build-check, go-test-all

fix: Apply pre-commit hook formatting fixes
  ENHANCED_GUI_COMPLETE_STATUS.md
  ENHANCED_GUI_PHASE5_IMPLEMENTATION.md
  RESEARCH_WIZARD_DOCUMENTATION_COMPLETE.md
  docs/domains/genomics.html
  docs/index.html
  docs/tutorials/quickstart.html
  go/internal/monitoring/manager.go
  go/internal/monitoring/types.go
  go/internal/tenant/demo.go
  go/internal/tenant/manager.go
  go/internal/tenant/middleware.go
  go/internal/tenant/types.go
  go/internal/web/routes.go
  go/internal/web/server.go
  go/internal/web/static/css/styles.css
  go/internal/web/static/js/tenant.js
Due: comprehensive-linting, go-test-coverage, go-build-check, go-test-all

feat: Add prominent Research Wizard logo to navigation
  docs/domains/genomics.html
  docs/index.html
  docs/tutorials/quickstart.html
  docs/wizard-logo.png
Due: none

feat: Display all 22 research domain packs with categories
  docs/index.html
Due: none

feat: Complete interactive domain pack website with clickable tiles
  docs/domains/index.html
  docs/index.html
  research-wizard-final.png
Due: none

feat: Expand to 27 research domains with comprehensive domain pack coverage
  configs/domains/drug_discovery.yaml
  configs/domains/geoscience.yaml
  configs/domains/mathematical_modeling.yaml
  configs/domains/quantum_computing.yaml
  configs/domains/structural_biology.yaml
  docs/domains/index.html
  docs/index.html
Due: comprehensive-linting

docs: Add comprehensive domain expansion documentation
  DOMAIN_EXPANSION_2025.md
Due: none

docs: Add comprehensive deployment testing report and validation results
  DEPLOYMENT_TESTING_REPORT.md
Due: none

feat: Implement real AWS deployment testing plan and issue tracking
  DEPLOYMENT_ISSUES_LOG.md
  REAL_AWS_DEPLOYMENT_PLAN.md
Due: none

feat: Implement Terraform infrastructure with LocalStack Pro and real AWS support
  CHANGELOG.md
  INFRASTRUCTURE_AS_CODE_EVALUATION.md
  TERRAFORM_INFRASTRUCTURE.md
  terraform/.gitignore
  terraform/environments/aws/main.tf
  terraform/environments/aws/variables.tf
  terraform/environments/localstack/main.tf
  terraform/environments/localstack/variables.tf
  terraform/modules/research-environment/main.tf
  terraform/modules/research-environment/outputs.tf
  terraform/modules/research-environment/user_data.sh
  terraform/modules/research-environment/variables.tf
Due: comprehensive-linting

Path conditions:
  comprehensive-linting: any of: \.(go|py|sh|yaml|yml|json)$
  go-test-coverage: any of: \.go$
  go-build-check: any of: \.go$
  go-test-all: any of: \.go$
  validate-domain-packs: any of: domain-packs/.*\.(yaml|yml)$
